@charset "UTF-8";
/*-------------------------------------------
共通
-------------------------------------------*/
body {
  line-height: 1.7;
  font-size: 0.9rem;
  font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 10;
  background-color: #EDE4DF; }
  @media (max-width: 800px) {
    header {
      padding: 0 16px; } }

.title-left {
  padding-top: 10px;
  font-size: 2em; }

/* humbergar menu */
#nav {
  background-color: #EDE4DF;
  position: fixed;
  width: 30%;
  top: 0;
  left: -1000px;
  bottom: 0;
  padding: 60px 25px;
  z-index: 20; }
  #nav a {
    color: #647789; }
  #nav ul {
    padding: 0; }

.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff; }
  .nav-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff; }

.nav-sns li {
  padding: 5px 0; }

.hamburger-btn {
  top: 16px;
  width: 30px;
  height: 30px;
  right: 45px;
  position: fixed;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 20; }
  @media (max-width: 800px) {
    .hamburger-btn {
      right: 20px; } }
  .hamburger-btn span {
    display: block;
    position: absolute;
    background-color: #333;
    border-radius: 4px;
    left: 0;
    width: 30px;
    height: 2px;
    transition: all 0.5s; }
  .hamburger-btn span:nth-child(1) {
    top: 4px; }
  .hamburger-btn span:nth-child(2) {
    top: 14px; }
  .hamburger-btn span:nth-child(3) {
    bottom: 4px; }

.open #nav {
  left: 0;
  opacity: 1;
  transition: all 0.5s; }

.open .btn-line {
  background-color: #fff; }

.open span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg); }

.open span:nth-child(2) {
  opacity: 0; }

.open span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg); }

#hamburger-btn-area {
  display: none;
  transition: all 0.5s; }

.open #hamburger-btn-area {
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer; }

/*-------------------------------------------
mainエリア
-------------------------------------------*/
.head-img {
  padding-top: 64px; }
  .head-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0; }

.wrapper {
  margin: 0 auto;
  padding: 0 32px; }

.section-area {
  margin: 4em 2em; }
  .section-area .section-title {
    text-align: center;
    color: gray;
    letter-spacing: 0.2em;
    font-size: 2em; }
  .section-area .menu-border {
    width: 160px; }
  .section-area .section-explan {
    margin: 4em auto; }
  .section-area .section-text {
    text-align: center; }

.menu-card {
  justify-content: center;
  display: flex; }
  @media (max-width: 800px) {
    .menu-card {
      display: block; } }

.card-left, .card-right {
  padding: 2em 1em;
  width: 460px; }
  .card-left img, .card-right img {
    width: 100%; }

@media (max-width: 800px) {
  .card-left, .card-right {
    margin: 0 auto; } }

/*-------------------------------------------
mainエリア About
-------------------------------------------*/
.about-area {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  /* 背景画像を固定する */
  padding: 2em 0; }
  .about-area .about-text {
    width: 400px;
    margin: 0 auto; }

/*-------------------------------------------
mainエリア Steps
-------------------------------------------*/
.steps-area {
  padding: 2em 0; }

.steps {
  width: 320px;
  height: 440px;
  margin: 2em;
  border: 1px solid silver; }
  @media (max-width: 800px) {
    .steps {
      margin: 2em auto; } }
  .steps .steps-icon {
    width: 80px;
    margin: 0 auto;
    padding: 2em; }
  .steps .steps-title {
    text-align: center;
    font-size: 18px; }
  .steps .steps-text {
    padding: 2em 1em; }

/*-------------------------------------------
mainエリア Reservation
-------------------------------------------*/
.sns-icon {
  text-align: center; }
  .sns-icon .icon {
    width: 64px;
    height: 100%;
    padding: .5em; }
  .sns-icon .icon-line {
    width: 75px;
    margin: 0 auto;
    padding: .5em; }

.btn-area {
  text-align: center;
  padding: 3em 0 4em 0; }
  .btn-area .btn {
    border: 0px;
    background-color: #647789;
    width: 18em;
    height: 48px;
    border-radius: 160px; }
    .btn-area .btn .btn-text {
      color: #fff;
      font-size: 16px;
      text-align: center; }

/*-------------------------------------------
footerエリア
-------------------------------------------*/
#footer {
  padding: 1em;
  background-color: #647789; }
  #footer p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    text-align: center; }
